/* ESTILOS GERAIS*/

/* CORES 
VERDE #19CF16
PRETO #101010
*/





body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
}

.navbar.navbar-expand-lg{
    height: 100px;
    
}

.row{
    margin: 0;
}

.container{
    padding: 70px 0;
   
}

#whitespace{
    padding: 30px;
    background-color:#19CF16;
    z-index: 999999999;
}

.nav-item.nav-link {
   color: aliceblue;
}

.nav-item.nav-link:hover {
    color:#19CF16 ;
 }

 .nav-item.nav-link#contrate-menu:hover {
    color:white ;
    background-color: #18be15;
 }
 .nav-item.nav-link#contrate-menu{
    color:white ;
    background-color: #19CF16;
    border-radius: 10px;
 }

/* BARRA DE NAVEGAÇÃO */
header, .navbar{
    background-color: #101010;
}

#nav-container{
    padding-top: 0px;
    padding-bottom: 0;
    
}

#logo{
    width: 150px;
    
}


.navbar-brand{
    padding: 0px;
    color: white;
}

.navbar-brand:hover{
    color: white;
}

/* INICIO CAPA */

#capa{

    background-color: #101010;
    width: 100%;
    display: flex;
    flex-flow: row;
    margin: 0;
    justify-content: space-between;
    border-top: 5px solid #19CF16;
    border-bottom: 5px solid #19CF16;
}

#card-capa{
    padding: 70px 70px 0px 70px;
}

#capa{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

#bv{
    color: white;
    padding: 5px;
    font-weight:200px;
    font-size: 14px;
    background-color: #18be15;
    border-radius: 5px;
    
}

#callback{
    font-size: 50px;
    color: white;
    font-weight: bolder;
}





#prof{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.639);
}

#foto-capa{
    width: 700px;
}

.button{
    border-radius: 5px;
    padding: 10px 20px;
    margin-right: 5px;
    margin-top: 20px;
}

#b1{
    background-color: #19CF16;
    color: white;
    
}

#b2{
    background-color: #101010;
    color: white;
    border: 1px solid white;
}

.icon-capa{
    font-size: 30px;
    margin-top: 10px;
    color: white;
}

#linkedin:hover{
    color: blue;
}

#github:hover{
    color: grey;
}



/* FIM DA CAPA - CV*/

/* INICIO SOBRE MIM E SKILLS */

#container-skills{
    background-color: #101010;
    padding: 70px;
    display: flex;
    flex-flow: row;
    
}

#Notebook{
    width: 50%;
    
}

#note{
    border-radius: 5px;
}

.titulos{
    font-size: 30px;
    color: white;
    font-weight: bolder;

}

.sub{
    color: white;
    font-weight:200px;
    font-size: 14px;
}

.titulo-skills{
    color: white;
    font-weight: bolder;
    font-size: 12px;
    padding: 0;
}

.container-barra{
    width: 550px;
    height: 5px;
    background-color: aliceblue;
    margin-bottom: 10px;
    margin-top: 5px;
}

.barra{
    height: 100%;
    animation-name: barra;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    
}

.barra2{
    height: 100%;
    animation-name: barra2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    
}

.barra3{
    height: 100%;
    animation-name: barra3;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    
}

.barra4{
    height: 100%;
    animation-name: barra4;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    
}

@keyframes barra{
    0%{
        background-color: hsl(27, 100%, 50%);
        width: 10%;
    }


    100%{
        width: 100%;
        background-color: #19CF16;
    }
}
@keyframes barra2{
    from{
        width: 0;
        background-color: hsl(27, 100%, 50%);
    }


    to{
        width: 70%;
        background-color: #7fcf16;
    }
}
@keyframes barra3{
    from{
        width: 0;
        background-color: hsl(27, 100%, 50%);
    }

    to{
        width: 40%;
        background-color: #c3cf16;
    }
}
@keyframes barra4{
    from{
        width: 0;
        background-color: hsl(27, 100%, 50%);
    }

    to{
        width: 100%;
        background-color: #19CF16;
    }
}

#b3{
    background-color: #19CF16;
    color: white;
    
}

#b4{
    background-color: #101010;
    color: white;
    border: 1px solid white;
}

#skills-icon{
    background-color: #101010;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    
}

#skills-icon ion-icon{
    font-size: 60px;
    margin: 0 20px 0;
}

#skills{
    margin: 0 30px;
}

b{
    color: #19CF16;
}

#html:hover{
    color: orange;
}

#css3:hover{
    color: rgb(58, 58, 243);
}

#javascript:hover{
    color: yellow;
}

#sass:hover{
    color: pink;
}

#python:hover{
    color: yellow;

}

#wordpress:hover{
    color: grey;
}
#react:hover{
    color: aqua;
}

/* FIM DAS SKILLS, INICIO DOS PROJETOS */

#container-projetos{
    padding: 0 70px;
    background-color: #101010;
    display: flex;
    flex-flow: column;
    text-align: center;
}

#container-cards{
    padding: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 30px;
}

.footer-card button{
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 5px;
    margin-top: 20px;
    border: solid 1px #19CF16;
    background-color: #19CF16;
    color: white;
}



.footer-icons {
    
    text-align: right;
    font-size: 30px;
    padding-right: 5px;
    color: #101010;
}

.footer-icons ion-icon{
    font-size: 40px;
    color: #101010;
}

/* FIM DOS PROJETOS */

footer{
    
    border-top: 5px solid #19CF16;
    text-align: center;
    color: white;
    background-color: #101010;
    margin: 0;
    padding: 20px;
}

footer p{
    margin: 0;
    padding: 0;
}


/* FIM DO SITE & INICIO MOBILE */

@media (max-width: 503px) {

    
    .navbar.navbar-expand-lg {
        height: 100%;
        display: block;
        text-align: center;

    }
    .nav-item.nav-link#contrate-menu {
        color: white;
        background-color: #19CF16;
        border-radius: 10px;
        margin: 0;
    }
    
    .navbar-brand {
        padding-top: var(--bs-navbar-brand-padding-y);
        padding-bottom: var(--bs-navbar-brand-padding-y);
        margin-right: 0;
        font-size: var(--bs-navbar-brand-font-size);
        color: var(--bs-navbar-brand-color);
        text-decoration: none;
        white-space: nowrap;
    }

    

    .navbar.navbar-expand-lg .navbar-nav{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 15px;

    }
    
    #capa{
        width: 100%;
        padding-top: 20px;  
         
    }
    #card-capa{
    padding: 10px;        
    }

    #card-capa #callback{
        font-size: 25px;
    }
    #card-capa #prof{
        font-size: 13px;
    }
    #foto-capa{
        display: none;
    }

    
    #b1,#b2{
        font-size: 10px;
        padding: 5px 10px;
    }
    #skills-icon ion-icon{
        font-size: 30px;
    }
    /*HEADER RESPONSIVO ATÉ AQUI */
    
    #container-skills{
        width: 100%;
        padding: 20px;

    }

    #note{
        width: 200px;
        height: 200px;
    }
    #Notebook{
        width: auto;
        display: none;
    }
    #skills{
        margin: 0;
    }

    #skills .titulos{
        font-size: 20px;
    }
    #skills .sub{
        font-size: 12px;
    }

    .container-barra{
        width: auto;
    }
    #container-projetos{
        padding: 20px;
    }
}

@media (max-width: 1120px) and (min-width: 502px) {
    
    .navbar.navbar-expand-lg {
        height: 100%;
        display: block;
        text-align: center;
    }
    

    .navbar.navbar-expand-lg .navbar-nav{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 15px;

    }
    
    #capa{
        width: 100%;
        padding-top: 20px;  
         
    }
    #card-capa{
    padding: 10px;        
    }

    #card-capa #callback{
        font-size: 40px;
    }
    #card-capa #prof{
        font-size: 13px;
    }
    #foto-capa{
        display: none;
    }

   
    #b1,#b2{
        font-size: 10px;
        padding: 5px 10px;
    }
    #skills-icon ion-icon{
        font-size: 30px;
    }
    /*HEADER RESPONSIVO ATÉ AQUI */
    
    #container-skills{
        width: 100%;
        padding: 20px;
        justify-content: center;
        padding-top: 30px;

    }

    #note{
        width: 200px;
        height: 200px;
    }
    #Notebook{
        width: auto;
        display: none;
    }
    #skills{
        margin: 0;
    }

    #skills .titulos{
        font-size: 20px;
    }
    #skills .sub{
        font-size: 12px;
    }

    .container-barra{
        width: auto;
    }
    #container-projetos{
        padding: 20px;
    }
}